@{
    ViewData["Title"] = "katagoriEkle";
}
  <div class="container mt-5">
    <h2>Katagori Ekleme</h2>
    <form>
        <div class="form-group">
            <label for="katagori_adi">Katagori Adı</label>
            <input type="text" class="form-control" id="katagori_adi" placeholder="Katagori Adı">
        </div>
        
        <div class="form-group">
            <label for="Acıklma">Açıklama</label>
            <input type="text" class="form-control" id="Acıklama" placeholder="Acıklama">
        </div>
        
        <div class="form-group">
            <label for="Urunler">Ürün Adı</label>
            <input type="text" class="form-control" id="Urunler" placeholder="urunler">
        </div>
        <button type="submit" class="btn btn-primary">Katagori Ekle </button>
    </form>
  </div>