@{
    ViewData["Title"] = "kullaniciKayit";
}
<div class="container mt-5">
    <h2>Kullancı Kayıt</h2>
    <form>
        <div class="form-group">
            <label for="kul_adi">Kullancı adı</label>
            <input type="text" class="form-control" id="kul_adi" placeholder="Kullancı adı">
        </div>
        <div class="form-group">
            <label for="sifre">Şifre</label>
            <input type="password" class="form-control" id="sifre" placeholder="Şifre">
        </div>
        <div class="form-group">
            <label for="sifre_tekrar">Şifre Tekrar</label>
            <input type="password" class="form-control" id="sifre_tekrar" placeholder="Şifre Tekrar">
        </div>
        <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
                <label for="dogum_tarihi">Doğum Tarihi</label>
                <input type="date" class="form-control" id="dogum_tarihi" placeholder="Doğum Tarihi">
        </div>
        <div class="form-group">
            <label for="tel">Telefon</label>
            <input type="text" class="form-control" id="tel" placeholder="Telefon">
        </div>
        <div class="form-group"> 
            <label for="kayit_tarihi">kayit tarihi </label>
            <input type="date" class="form-control" id="kayit_tarihi" placeholder="kayit tarihi">
        </div>
    </form>
</div>
