@{
    ViewData["Title"] = "ufbelirle";
}
<h2>Ürün Fiyat Belirleme</h2>
@if(ViewBag.SatisFiyati !=null)
{
    <div class="alert alert-success" role="alert">
        Ürününüzün satış fiyatı: @ViewBag.SatisFiyati
    </div>
}
<form asp-action="ufbelirle" method="post">
    <div class="form-group">
       <label for="urunadi">Ürün Adı</label>
       <input type="text" class="form-control" id="urunadi" name="urunadi" placeholder="Ürün Adı">
    </div>

    <div class="form-group">
 <label for="kdv">kdv (%)</label>
 <input type="number" class="form-control" id="kdv" name="kdv" placeholder="KDV">
    </div>

    <div class="form-group">
 <label for="kar">Kar</label>
 <input type="number" class="form-control" id="kar" name="kar" placeholder="Kar">
    </div>

    <div class="form-group">
        <label for="fiyat">Fiyat</label>
        <input type="number" class="form-control" id="fiyat" name="fiyat" placeholder="Fiyat">
    </div>
    <button type="submit" class="btn btn-primary">Hesapla</button>
</form>