@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, error. Quaerat porro error illum molestias voluptate delectus ut facilis maxime sequi mollitia minima aperiam possimus sit quas ipsa, beatae suscipit? _03_02_1</p>
</div>

<div class="text-center bg-primary text-black"> 
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, error. Quaerat porro error illum molestias voluptate delectus ut facilis maxime sequi mollitia minima aperiam possimus sit quas ipsa, beatae suscipit? _03_02_1</p>
</div>