@{
    ViewData["Title"] = "urunler";
}
<div class="container mt-3">
        d
        <div class="card" style="width: 20vw;">
            <img class="cart img-top" src="wwwroot/resim/avatar_21" style="width: 100%;"/>
            <div class="card-body">
                <h4 class="card-title">Eren EREK</h4>
                <p class="card*text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi hic iste quae, natus deleniti magnam itaque neque harum reiciendis sapiente.</p>
                <a href="#" class="btn btn-primary">Detaylar</a>
            </div>
        </div>
    </div>    